{% extends 'app/pages/base.html' %}

{% block title %}About{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        My name is <a href='https://www.dbinetti.com'>David Binetti</a>, I'm a parent of two West Ada students, and I know that change &mdash; even change for the better &mdash; is really, really hard.  So I started this site to support the Board and give them confidence to make masks optional.
      </p>
      <p>
        Personally, I'm an entrepreneur who has started a few companies and these days I consult for Fortune 500 companies.  But more important than who I am is what I am <em>not</em>: specifically, <strong>I am not political</strong>.  I'm a registered independent, I don't have any axes to grind, and I have precisely zero history with the current Board (aside from applying for the open spot in Zone 4 and signing up as a Substitute Teacher!)  This is totally free, I'm keeping your information private, and when our mission is complete the entire site will be completely and permanently deleted.
      </p>
      <p>
        I just want our schools filled with smiles.  That's all I want.  If that's all you want, then <a href='{% url "join" %}'>join us</a>.
      </p>
    </div>
  </section>
{% endblock content %}
