{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}
  {{ form.media }}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=286973936371350&autoLogAppEvents=1" nonce="BVurEf1h"></script>
{% endblock formmedia %}

{% block title %}Account Information{% endblock title %}

{% block content %}
  <section class='mt-5'>
    <h2 class='mb-3'>
      Thank You -- Your Support has been Registered!
    </h2>
    <p class='lead my-3'>
      Next, share this link via text, social media, or anywhere else you can:<br><br>

      <div class="shadow-sm p-3 mb-5 bg-white rounded">
          https://smilewestada.wistia.com/medias/2oyxggw7kp
      </div>

      <br><br>
      And don't forget to share on Facebook!<br><br>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsmilewestada.wistia.com%2Fmedias%2F2oyxggw7kp&layout=button&size=large&appId=286973936371350&width=300&height=100" width="300" height="100" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </p>
    {% comment %}
    <ul class='list-inline ml-4'>
      <li class='list-inline-item'><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsmilewestada.wistia.com%2Fmedias%2F2oyxggw7kp&layout=button&size=small&appId=286973936371350&width=67&height=20" width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
      <li class='list-inline-item'><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="If you want the Kids all in school check this out" data-url="https://smilewestada.wistia.com/medias/beb6fxz2dk" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>

    </ul>
    {% endcomment %}
  </section>

  <section class='my-2'>
    <div class='card'>
      <h4 class='card-header'>Account Details</h4>
      <div class="card-body">
        <div class='card-title'>
        </div>
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}

            {% bootstrap_field form.name show_help=True show_label=False placeholder="Name" %}
            {# {% bootstrap_field form.email show_help=True show_label=True placeholder='Email' %} #}
            {# {% bootstrap_field form.phone show_help=False show_label=False %} #}
            {% bootstrap_field form.is_public show_help=True show_label=False %}
            {% bootstrap_field form.zone show_help=True show_label=False %}
            {% bootstrap_field form.comments show_help=False show_label=False  placeholder='Any other notes? (optional)'%}
            {# {% bootstrap_field form.notes show_help=False show_label=False  placeholder='Any other notes? (optional)'%} #}
            {% bootstrap_button "Save" button_type='submit' size='large' %}
            {% bootstrap_button "Cancel" button_type='link' href="/account" size='large' button_class='btn-light' extra_classes='ml-3'%}
          </form>
        </div>
      </div>
      <div class='card-footer'>
          <div class='row'>
            <div class='col-7'>
              <small class='text-muted'>Please contact <a href='mailto://support@smilewestada.com'>support@smilewestada.com</a> if you have any questions or need support.</small>
            </div>
            <div class='col-3 offset-2 text-right'>
              <a href='{% url "delete" %}'><span class='text-danger text-small'>Delete Account</span></a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock content %}
