{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}
  {{ form.media }}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=286973936371350&autoLogAppEvents=1" nonce="BVurEf1h"></script>
{% endblock formmedia %}

{% block title %}Account Page{% endblock title %}

{% block content %}
  <section class='mt-5'>
    <h2 class='my-3 col-md-12'>
      Thank You!
    </h2>
    <p class='lead col-md-8'>
      Next, review/update your account details below.  <br>We'll keep you up to date on our next steps.
    </p>
    {% comment %}
    <p class='lead col-md-8'>
      We'll keep you up to date on our next steps.
      {# Then, <a href='{% url "share" %}'>Click Here to Share</a> because we need more members! #}
    </p>
    {% endcomment %}
  </section>
  <section class='mt-5 col-md-8'>
    <div class='card'>
      <h4 class='card-header'>Account Details</h4>
      <div class="card-body">
        <div class='card-title'>
        </div>
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}

            {% bootstrap_field form.name show_help=True show_label=False placeholder="Name" %}
            {% bootstrap_field form.role show_help=True show_label=False %}
            {% bootstrap_field form.is_public show_help=True show_label=False %}
            {% bootstrap_field form.zone show_help=True show_label=False %}
            {% bootstrap_field form.is_voter show_help=True show_label=False %}
            {% comment %}
            {% bootstrap_field form.is_attending show_help=True show_label=False %}
            {% bootstrap_field form.is_signage show_help=True show_label=False %}
            {% bootstrap_field form.is_speaker show_help=True show_label=False %}
            {% endcomment %}
            {# {% bootstrap_field form.comments show_help=True show_label=False  placeholder='Any other notes? (optional)'%} #}

            {% bootstrap_button "Save" button_type='submit' size='large' %}
            {% bootstrap_button "Cancel" button_type='link' href="/account" size='large' button_class='btn-light' extra_classes='ml-3'%}
          </form>
        </div>
      </div>
      <div class='card-footer'>
          <div class='row'>
            <div class='col-8'>
              <small class='text-muted'>Help available at <a href='mailto://support@smilewestada.com'>support@smilewestada.com</a>.</small>
            </div>
            <div class='col-4 text-right'>
              <a href='{% url "delete" %}'><span class='text-danger text-small'>Delete Account</span></a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class='mt-5 col-md-8'>
    <div class='card'>
      <h4 class='card-header'>
        Public Comments
      </h4>
      <div class="card-body">
        <div class='card-title'>
          <p>
            These are the public comments you have made.  Click on the comment to review/edit/delete.
          </p>
        </div>
        <div class='card-text'>
          <table class='table table-sm'>
            <thead>
              <tr>
                <th>Date</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
                <tr>
                  <td>
                    {{comment.created|date:"SHORT_DATE_FORMAT"}}
                  </td>
                  {% if comment.polymorphic_ctype.name == 'Written Comment' %}
                    <td>
                      <a href='{% url "comment" comment.id %}'>{{comment.text|truncatewords:10}}</a>
                    </td>
                  {% else %}
                    <td>
                      <a href='{% url "comment" comment.id %}'><img src={{comment.video.url}}.jpg class='img-fluid'></a>
                    </td>
                  {% endif %}
                </tr>
              {% empty %}
                <tr>
                  <td colspan=2>
                    (No Public Comments)
                  <td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class='card-footer'>
        {% url 'submit-written-comment' as url_comment %}
        {% bootstrap_button "Make Comment" button_type='link' href=url_comment size='large' button_class='btn-success' extra_classes='ml-3'%}
      </div>
    </div>
  </section>
{% endblock content %}
