{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Account Information{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thank You for Supporting the Kids!
    </h2>
    <p class='lead'>
      Next, there are <strong>two</strong> more things you can do:
    </p>
    <ul class='list-unstyled p-4'>
      <li><span class='fa fa-arrow-alt-circle-right'></span>&nbsp;<strong>Make Your Name Public</strong> (below)</li>
      <li><span class='fa fa-arrow-alt-circle-right'></span>&nbsp;<strong>Share the <script src="https://fast.wistia.com/embed/medias/beb6fxz2dk.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_beb6fxz2dk popover=true popoverContent=link" style="display:inline;position:relative"><a href="#">Video</a></span></strong> (click these buttons)
      </li>
    </ul>
    <ul class='list-inline ml-4'>
      <li class='list-inline-item'><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsmilewestada.wistia.com%2Fmedias%2Fbeb6fxz2dk&layout=button&size=large&appId=840210110164166&width=77&height=28" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></li>
      <li class='list-inline-item'><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="If you want the Kids all in school check this out" data-url="https://smilewestada.wistia.com/medias/beb6fxz2dk" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    </ul>
  </section>

  <section class='my-5'>
    <div class='card'>
      {# <h4 class='card-header'>Account Information</h4> #}
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}

            {% bootstrap_field form.name show_help=False show_label=False placeholder="Name" %}
            {# {% bootstrap_field form.email show_help=True show_label=True placeholder='Email' %} #}
            {# {% bootstrap_field form.phone show_help=False show_label=False %} #}
            {# {% bootstrap_field form.address show_help=True show_label=False  %} #}
            {% bootstrap_field form.is_public show_help=True show_label=False %}
            {# {% bootstrap_field form.is_teacher show_help=True show_label=False %} #}
            {# {% bootstrap_field form.is_medical show_help=True show_label=False %} #}
            {% bootstrap_field form.comments show_help=False show_label=False  placeholder='Any other notes? (optional)'%}
            {# {% bootstrap_field form.notes show_help=False show_label=False  placeholder='Any other notes? (optional)'%} #}
            {% bootstrap_button "Save" button_type='submit' size='large' %}
            {% bootstrap_button "Cancel" button_type='link' href="/account" size='large' button_class='btn-light' extra_classes='ml-3'%}
          </form>
        </div>
      </div>
      <div class='card-footer'>
          <div class='row'>
            <div class='col-7'>
              <small class='text-muted'>Please contact <a href='mailto://support@smilewestada.com'>support@smilewestada.com</a> if you have any questions or need support.</small>
            </div>
            <div class='col-3 offset-2 text-right'>
              <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock content %}
