{% extends 'app/pages/base.html' %}
{% load app_tags %}
{% load bootstrap4 %}

{% block metatags %}
  <link href="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.css" rel="stylesheet">
  <script src="https://unpkg.com/cloudinary-core/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.js" type="text/javascript"></script>
{% endblock metatags %}


{% block title %}Comments{% endblock title %}

{% block content %}

  <section class='my-5'>
    <h2>
      Public Comments
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Following are public comments submitted by Smile West Ada members.
      </p>
      <p>
        Note that this site is not a substitute for official Public Comment before the Board of Trustees; they are simply provided as a courtesy to our members to make their voice heard.  We will post all on-topic, respectful comments regardless of position.
      </p>
    </div>
    <div>
      <ul class='list-inline'>
        {% url 'submit-spoken-comment' as spoken_url_comment %}
        <li class='list-inline-item'>{% bootstrap_button "Make Spoken Comment" button_type='link' href=spoken_url_comment size='large' button_class='btn-primary' extra_classes='m-3'%}</li>
        {% url 'submit-written-comment' as written_url_comment %}
        <li class='list-inline-item'>{% bootstrap_button "Make Written Comment" button_type='link' href=written_url_comment size='large' button_class='btn-success' extra_classes='m-3'%}
        </li>
      </ul>
    </div>
  </section>

  <section class='m-3'>
    <table class='table'>
      <thead>
        <tr class='row'>
          {# <th scope='col' class='col-1'>Zone</th> #}
          <th scope='col' class='col-5'>Name</th>
          <th scope='col' class='col-7'>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
          <tr class='row'>
            <td class='col-5'>
              {{comment.account.name}}<br>
              <ul class='list-inline'>
                {% if comment.account.role == 1 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-warning">Parent</span>
                  </li>
                {% elif comment.account.role == 2 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-success">Student</span>
                  </li>
                {% elif comment.account.role == 3 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-danger">Teacher</span>
                  </li>
                {% endif %}
                {% if comment.account.is_voter %}
                  <li class='list-inline-item'>
                      <span class="badge badge-primary">Registered Voter</span>
                  </li>
                {% endif %}
                {% if comment.account.zone %}
                  <li class='list-inline-item'>
                    <span class="badge badge-light">{{account.get_zone_display}}</span>
                  </li>
                {% endif %}
              </ul>
              {# {% if account.is_featured %} #}
              {# {% endif %} #}
              {# <span class="badge badge-info">Zone 3</span> #}
            </td>
            <td class='col-7'>
              {% if comment.polymorphic_ctype.name == 'Written Comment' %}
                {{comment.text}}
              {% else %}
                <a href='{% url "comment" comment.id %}'><img class='img-fluid' src='{{comment.video.url}}.jpg'></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock content %}
