{% extends 'app/pages/base.html' %}

{% block title %}Code of Conduct{% endblock title %}



{% block content %}
  <section class='my-5'>
    <h2>
      Code of Conduct
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        All Members of Smile West Ada are expected to follow this Code of Conduct:
      </p>
      <ul class='list-styled'>
        <li>We support our opposition's right to be heard.</li>
        <li>We follow the rules, even as we work to change them.</li>
        <li>We reject threats of any kind, even electoral ones.</li>
        <li>We specifically support our teachers.</li>
        <li>We do not force our views on unsympatehtic ears.</li>
        <li>We focus on seeing the smiles my making masks optional.</li>
        <li>We believe masks' benefits are outweighed by their costs.</li>
      </ul>
      <p>
        We sum this up as <strong>Respectful but Resolute</strong>.
      </p>
      <p>
        Good people can disagree on important issues.  We are never guaranteed to get what we want, nor that the process will be entirely fair.  Still, we believe that supporting honest, direct, open discussion is the best way to the most durable solution.
      </p>
      <p>
        We do not expect everyone to agree with this approach, but do believe it is the surest path to success with this Board.  If you believe this is insufficient and want to see a more aggressive, confrontational approach then you will be disappointed.  But if you agree with our Respectful and Resolute approach in general and these guidelines in particular then we welcome you enthusiastically.
      </p>
    </div>
  </section>
{% endblock content %}
