{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  {% comment %}
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Below are answers to some frequently asked questions.
      </p>
    </div>
  </section>
  {% endcomment %}
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who are you?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're a group of West Ada School District parents, teachers, and staff who want to make masks optional.  The site was created by David Binetti, a parent in the West Ada School District.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        I heard the administration was considering this already -- why not wait for their plan?
      </h5>
      <p class='pl-4 col-lg-8'>
        By the time a plan is publicized it is often too late to do anything about it.  We want to influence policy by making our voices heard loudly and clearly in advance of the actual decisions.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        When will the decision be made?
      </h5>
      <p class='pl-4 col-lg-8'>
        The Board will consider the Adminstration's revised mask policy for the 2021-2022 school year on June 15.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        But if we make masks optional aren't we taking a risk?
      </h5>
      <p class='pl-4 col-lg-8'>
        Yes, of course -- but that won't change next year.  Or in 2022.  Or ever.  There will never be a risk-free time; there are only tradeoffs, and we believe the costs associated with mandatory masking far outweighs their benefits.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        If you join us we'll add you to the private list of supporters which we report on as an aggregate total.  Then, you'll also get the opportunity to make your name public, which we'll report directly along with any (respectful) comments you'd like to share.  Finally, we'll speak to the Board on May 11 representing each of you with one, clear, powerful voice.
      </p>
    </div>
    {% comment %}
    <div class='my-2'>
      <h5>
        What does the blue "Registered Voter" badge mean?
      </h5>
      <p class='pl-4 col-lg-8'>
        It means that you're a Registered Voter within that District Zone.  I went to the Ada County Elections office and received a list of all registered voters within the District.  I then process each member who makes his or her name public, and cross-reference it against that list.  If there's a match, I attach the "Registered Voter" badge to your name.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        I'm a registered voter but it's not showing -- how do I fix this?
      </h5>
      <p class='pl-4 col-lg-8'>
        Simply send an email to <a href='mailto:voter@smilewestada.com'>voter@smilewestada.com</a> and we'll track it down.  To help, include your age and/or street name (full address not needed.)  This information will not be saved; it will only be used to verify your voter status and then be discarded.
      </p>
    </div>
    {% endcomment %}
    <div class='my-2'>
      <h5>
        My comment was deleted -- why?
      </h5>
      <p class='pl-4 col-lg-8'>
        To preserve the integrity of the site we require your real full name and a valid email.  Remember that all information remains private unless you specifically choose to be public.  However, if you wish to make a public comment you must provide your full, real name; pseudonyms detract from the authenticy and legitmacy of our effort.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who is paying for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        This is entirely self-funded.  It isn't a business, and we're not even asking for donations.  We just want to see the kids smiles, and that's worth more to us than the few dollars it takes to run this website.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the new strain of Covid going around?
      </h5>
      <p class='pl-4 col-lg-8'>
        There will always be a new strain of something going around, so unless we intend to make masks a permanent part of school then we should make them optional as soon as possible.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Shouldn't we listen to the experts?
      </h5>
      <p class='pl-4 col-lg-8'>
        Of course!  We're listening to the medical experts, and the mental-health experts, and the academic experts, and the cognitive development experts and every other expert we can.  We want all those opinions so we can make a balanced decision; focusing only on one issue means you can't make fully-informed decisions.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@smilewestada.com'>support@smilewestada.com</a> so that we can add it to the FAQ!
      </p>
    </div>
  </section>
{% endblock content %}
