{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  {% comment %}
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Below are answers to some frequently asked questions.
      </p>
    </div>
  </section>
  {% endcomment %}
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who are you?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're a group of West Ada School District parents, teachers, and staff who want to make masks optional this year.  The site was created by David Binetti, a parent in the West Ada School District.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why this year?
      </h5>
      <p class='pl-4 col-lg-8'>
        First, because it's practical: change -- even for the better -- is difficult, and nothing magical is going to happen in August to make this any easier.  If we do a trial run now we can learn and adjust before next year, and if since the schools are closing for the summer anyway the downside risk is lowest now.  Second, we don't want the first issue of the next school year to be an acrimonious debate about masks.  Finally, we owe it to our students -- and especially our Seniors -- to end their tenure seeing the smiles of their classmates as they head off into the summer.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        I heard the administration was considering this already -- why not wait for their plan?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're glad that the adminstiration is being proactive but change -- even for the better -- is always difficult.  We want to influence and support their decision as much as possible.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        But if we make masks optional aren't we taking a risk?
      </h5>
      <p class='pl-4 col-lg-8'>
        Yes, of course -- but that won't change in the Fall.  Or in 2022.  Or ever.  There will never be a risk-free time; there is only a best time, and that time is this year.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        If you join us we'll add you to the private list of supporters which we report on as an aggregate total.  Then, you'll also get the opportunity to make your name public, which we'll report directly along with any (respectful) comments you'd like to share.  Finally, we'll speak to the Board on May 11 representing each of you with one, clear, powerful voice.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who is paying for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        This is entirely self-funded.  It isn't a business, and we're not even asking for donations.  We just want to see the kids smiles, and that's worth more to us than the few dollars it takes to run this website.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why fully optional?  Why not just outdoors-only?
      </h5>
      <p class='pl-4 col-lg-8'>
        Outdoors is great, but the plan is to return to normal we should do that now, while we have the opportunity to learn and adjust and not put it off until the Fall.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the new strain of Covid going around?
      </h5>
      <p class='pl-4 col-lg-8'>
        There will always be a new strain of something going around, so unless we intend to make masks a permanent part of school then we should make them optional now, when the timing is best.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about trust -- the District specifically said they would keep masks on to the end of the year?
      </h5>
      <p class='pl-4 col-lg-8'>
        If there's one thing we've learned this year, it's that we need to be flexible to adapt to changing circumstances.  However, this works both ways; there is no requirement that changes only move in the direction of more restrictive.  That said, good people can disagree on important issues so if you feel the District should maintain consistency please let us know at <a href='mailto:consistency@smilewestada.com'>consistency@smilewestada.com</a> so we can respect your opinion too.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Shouldn't we listen to the experts?
      </h5>
      <p class='pl-4 col-lg-8'>
        Of course!  We're listening to the medical experts, and the mental-health experts, and the academic experts, and the cognitive development experts and every other expert we can.  We want all those opinions so we can make a balanced decision; focusing only on one issue (ie, single-factor analysis) means you can't make informed decisions by-definition.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@smilewestada.com'>support@smilewestada.com</a> so that we can add it to the FAQ!
      </p>
    </div>
  </section>
{% endblock content %}
