{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Below are answers to some frequently asked questions.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who are you?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're a group of West Ada School District parents, teachers, and staff who want to get back in the classroom full-time, in-person, K-12 by March 1.  The site was created by David Binetti, a parent in the West Ada School District.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why March 1?
      </h5>
      <p class='pl-4 col-lg-8'>
        Teachers are receiving the Moderna vaccine, which is 92.1% effective 14 days after the first dose.  With February 13th as the date all teachers are expected to have completed priority access to the vaccine, Monday, March 1 is the most practical date that provides the full 14-day period for 92% efficacy.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        I heard they were waiting until fourth quarter.  Why?
      </h5>
      <p class='pl-4 col-lg-8'>
        The Return to Daily In-Person Instruction committee recommendended the start of the fourth quarter so staff would have the opportunity to receive the second dose of the vaccine which, in combination with scheduling concerns, resulted in the April 13 start date.  And while the second dose does increase protection from 92% to 94%, delaying full-time in-person K-12 for another 45 days when we are already at 90%+ safety doesn't reflect the urgency of students who continue to fall behind.  The recommendations are just that: recommendations.  The Board gets to decide based on the tradeoffs; this site was created to help give them the confidence to decide that the perfect shouldn't be the enenmy of the good.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        But if we rush back to school don't we risk an outbreak leading to remote-only?
      </h5>
      <p class='pl-4 col-lg-8'>
        Yes, of course returning to school risks an outbreak &mdash; but the only way to avoid that risk is to never go back to school.  There is nothing magical about waiting longer that will make things better; it simply means that our kids will fall further and further behind.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        If you join us we'll add you to the private list of supporters which we report on as an aggregate total.  Then, you'll also get the opportunity to make your name public, which we'll report directly along with any (respectful) comments you'd like to share.  Finally, we'll present these reports to the West Ada School Board so that they can see the breadth of parental and teacher support to get kids all in, Full Time, In Person, K-12
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who is paying for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        This is entirely self-funded.  It isn't a business, and we're not even asking for donations.  We just want the kids all in school, and that's worth more to us than the few dollars it takes to run this website.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Why immediately K-12?  Why not start with middle school?
      </h5>
      <p class='pl-4 col-lg-8'>
        If the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already; there's no need to make high-school students delay any more than middle school (or K-5).
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the current pandemic plan?
      </h5>
      <p class='pl-4 col-lg-8'>
        The current plan was devised for a pre-vaccine world.  Now it's time to adjust to the teacher-vaccination world, and that means getting the Smile West Ada, Full-Time, In-Person, K-12 by March 1.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What about the new strain of Covid going around?
      </h5>
      <p class='pl-4 col-lg-8'>
        If the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already.  And while we can and must adjust to changing conditions, we shouldn't make our children fall further behind for what <em>might</em> happen in the future.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        If we move to full-time, in-person, K-12 what about social distancing in the classroom?
      </h5>
      <p class='pl-4 col-lg-8'>
        If the teachers and staff are vaccinated then we're protecting the vulnerable population in the classroom already.  However, we can still maintain social distance even in full-time instruction by simply employing the World Health Organization guideline of 1 meter distance rather than the CDC guideline.  While six-feet is clearly better than 1-meter, it's not at all obvious how much better -- and our children are suffering for three extra feet whose benefit is inconclusive at best.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Shouldn't we listen to the experts?
      </h5>
      <p class='pl-4 col-lg-8'>
        Of course!  We're listening to the medical experts, and the mental-health experts, and the academic experts, and the drug abuse experts, and the suicide prevention experts, and the cognitive development experts and every other expert we can.  We want all those opinions so we can make a balanced decision; focusing only on one issue &mdash; or even worse only on one side of one issue &mdash; means you decide on incomplete information, often leading to the wrong decision.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@smilewestada.com'>support@smilewestada.com</a> so that we can add it to the FAQ!
      </p>
    </div>
  </section>
{% endblock content %}
