{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}{% endblock title%}

{% block content %}
  <section class 'mt-5'>

    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/2oyxggw7kp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_2oyxggw7kp popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>

    <div class='jumbotron'>
      {% comment %}
        <div class='mb-5'>
          <h2 class='text-center'>
            Let's See Those Smiles, West Ada!
          </h2>
        </div>
      {% endcomment %}

      <div>
        <p>
          Smile West Ada is a group of parents who want masks optional the last two weeks of this school year.  Support us by joining today, and we'll speak with one, clear, powerful voice at the next School Board meeting on May 11th.  The site is free, we protect your privacy, and we don't have an agenda beyond seeing all those smiles in West Ada classrooms before the end of this year.
        </p>
      </div>
      {% comment %}
      <div class='mb-5'>
        <h2 class='text-center'>
          Let's Get <strong>Smile West Ada</strong> School!
        </h2>
      </div>
      {% endcomment %}
      <div class='mb-5'>
        <p class='lead'>
            {# If you support Full-Time, In-Person, K-12 Instruction you should join our movement! #}
        </p>
      </div>
      <div class='mb-3'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg">
          <strong>Click Here to Join Us!</strong>
        </a>
      </div>
      {% comment %}
      <div>
        <a class="btn btn-light btn-block btn-lg" data-toggle='collapse' data-target='#learnMoreCollapse' role='button'>
          Learn More
        </a>
      </div>
      <div class="collapse" id="learnMoreCollapse">
        <div class="card card-body mt-3 p-5">
          <p>
            On Tuesday February 9th, the West Ada School Board voted 4-1 to bring the kids all in school, Full-Time, In-Person, K-12 by March 29 (moved up from the original date of April 13.)
          </p>
          <p>
            While this fell short of our original goal of March 1, I believe we helped shift the conversation to, as Trustee Chair Amy Johnson put it, "not whether we are coming back to school, but how much sooner we can move it forward."  I firmly believe that we played an important part in making that happen, and while the result might not be perfect, it certainly was very, very good.
          </p>
          <p>
            In the coming days, as promised, I will delete any and all personal information and close down the site entirely.  Look for one final email from me immediately before that happens.  But for now, let me simply say thank you.  Thank you for helping get our <strong>Smile West Ada</strong>.
          </p>
          <br>
          <p class='mb-5'>
            P.S. Note that you can still <a href='{% url "join" %}'>Join Us</a> if you wish to add your name to ours before we close down!
          </p>
        </div>
      </div>
      {% endcomment %}

    </div>
  </section>
  {% comment %}
  <section class='mt-5'>
    <div class="card">
      <h5 class="card-header">Community Members</h5>
      <div class="card-body">
        <h5 class="card-title">Our movement currently has {{total}} members.</h5>
        <p>Of the {{total}}, here are those who have elected to share their names publicly:</p>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td>{{account.name}}</td>
                <td>{{account.comments}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endcomment %}
{% endblock content %}
