{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}
{% load humanize %}
{% load app_tags %}

{% block metatags %}
  <meta property="og:title" content="Make Masks Optional Next School Year" />
  <meta property="og:image" content='{% static "app/wide_logo.jpg" %}' />
  <meta property="og:image:secure_url" content='{% static "app/wide_logo.jpg" %}' />
  <meta property="og:url" content="https://www.smilewestada.com" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="286973936371350" />
  <meta property="og:description" content="Smile West Ada is a group of parents who want masks optional next year.  Join today so we can speak with one, clear, powerful voice.  The site is free, we protect your privacy, and we don't have an agenda beyond seeing all those smiles in West Ada classrooms next year." />
{% endblock metatags %}

{% block customstyles %}
  <link href="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.css" rel="stylesheet">
{% endblock customstyles %}


{% block title %}{% endblock title%}

{% block content %}
  <section class 'mt-5'>

    <div id='id_wistia'>
      <script src="https://fast.wistia.com/embed/medias/ldzymrx1za.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ldzymrx1za popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>

    <div class='jumbotron'>
      <div class='mb-3'>
          <div class='mb-2 mx-3'>
            <p>
              <strong>Smile West Ada</strong> wants to see the smiles of West Ada students next year by making masks-optional.  The Board will vote on the 2021-2022 masking policy at the June 15th meeting.  To support our mission, post a comment, and stay informed, please <a href='{% url "join"%}'>Join Us</a>!
            </p>
          </div>
      </div>
      <div class='mt-3'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg p-3">
          <strong>Click Here to Join, Post Comments, and Stay Informed</strong>
        </a>
      </div>
    </div>
  </section>
  <section class='m-3'>
    <table class='table'>
      <thead>
        <tr class='row'>
          <th scope='col' class='col-5'>Name</th>
          <th scope='col' class='col-7'>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
          <tr class='row'>
            <td class='col-5'>
              {{comment.account.name}}<br>
              <ul class='list-inline'>
                {% if comment.account.role == 1 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-warning">Parent</span>
                  </li>
                {% elif comment.account.role == 2 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-success">Student</span>
                  </li>
                {% elif comment.account.role == 3 %}
                  <li class='list-inline-item'>
                      <span class="badge badge-danger">Teacher</span>
                  </li>
                {% endif %}
                {% if comment.account.is_voter %}
                  <li class='list-inline-item'>
                      <span class="badge badge-primary">Registered Voter</span>
                  </li>
                {% endif %}
                {% if comment.account.zone %}
                  <li class='list-inline-item'>
                    <span class="badge badge-light">{{account.get_zone_display}}</span>
                  </li>
                {% endif %}
              </ul>
            </td>
            <td class='col-7'>
              {% if comment.polymorphic_ctype.name == 'Written Comment' %}
                {{comment.text}}
              {% else %}
                <video
                  id="comment-player"
                  controls
                  class="cld-video-player cld-fluid"
                  data-cld-public-id="{{comment.video.name}}"
                >
                </video>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock content %}

{% block scripts %}
  <script src="https://unpkg.com/cloudinary-core/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.js" type="text/javascript"></script>
  <script>
    let cloudName = '{% get_env_var "CLOUDINARY_NAME"%}';
    let cld = cloudinary.Cloudinary.new({
      cloud_name: cloudName
    });
    let  players = cld.videoPlayers('.cld-video-player', {
      showLogo: false,
      sourceTypes: ['hls', 'dash'],
      sourceTransformation: {
        'hls': [{ streaming_profile: 'hd_h265' }],
        'dash': [{ streaming_profile: 'hd_dash' }],
      }
    });
  </script>
{% endblock scripts %}
