{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}


{% block title %}Submit Written Comment{% endblock title %}

{% block content %}
  <section class='col-md-8'>
    <form method='post'>
      {% csrf_token %}
      <div class='card'>
        <div class='card-header'>
          <h4>
            Submit Written Comment
          </h4>
        </div>
        <div class="card-body">
          <div class='card-title'>
            <p class='lead'>
              Here are the guidelines for leaving a written comment:
            </p>
            <ul class='list-styled'>
              <li>It should remain respectful and on-topic.</li>
              <li>It will be reviewed before posting to avoid inappropriate content on our site.</li>
              <li>Any students posting <strong>must receive express permission from parents</strong> first.</li>
            </ul>
            <p>
              Also note that there is no guarantee the Board of Trustees will read your comments; this is not an official channel.
            </p>
          </div>
          <div class='card-text'>
              {% bootstrap_form_errors form %}

              {% bootstrap_field form.text show_help=True show_label=False %}

          </div>
        </div>

        <div class='card-footer'>
          <div class='list-inline'>
            <li class='list-inline-item'>
              {% bootstrap_button "Save" button_type='submit' size='large' %}</li>
            <li class='list-inline-item'>
          {% bootstrap_button "Cancel" button_type='link' href="/account" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
            </li>
          </div>
        </div>

      </div>
    </form>

  </section>
{% endblock content %}
