{% extends 'app/pages/base.html' %}

{% block title %}Welcome!{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thanks for Joining Smile West Ada!
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        We've registered your support for masks-optional; here's what to do next:
      </p>
    </div>
  </section>
    <ul class='list-styled'>
      <li>Update Personal Profile</li>
      <li>Make a Public Comment</li>
      <li>Share with Others</li>
    </ul>
  <section>

  </section>
{% endblock content %}
